doctype html
html
    head
        meta(charset="utf-8")
        title Restrict map panning to an area
        meta(name="viewport"  content="initial-scale=1,maximum-scale=1,user-scalable=no")

        script(src="https://api.mapbox.com/mapbox-gl-js/v3.17.0/mapbox-gl.js")
        script(src="https://unpkg.com/three@0.152.2/build/three.min.js")
        script(src="https://unpkg.com/threebox-plugin/dist/threebox.min.js")
        script(type="importmap").
            {
                "imports": {
                    "three":"https://unpkg.com/three@0.160.0/build/three.module.js",
                    "three/addons/":"https://unpkg.com/three@0.160.0/examples/jsm/"
                }
            }

        link( href="https://api.mapbox.com/mapbox-gl-js/v3.17.0/mapbox-gl.css" rel="stylesheet")
        link(rel="stylesheet", href="https://unpkg.com/threebox-plugin/dist/threebox.css")
        link(rel="stylesheet", href="/css/style.css")

    body
        #map
        #fadeOverlay

        script.
            window.CONFIG = {
                MAPBOX_KEY: "#{MAPBOX_KEY}"
            }
        script(type="module" src="/js/main.js")


